.appContainer {
  display: flex;
  position: relative;
}

.mainContent {
  width: 100%;
  padding: 20px;
}

.tabSwitchBtn {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  color: rgb(105, 105, 105);
}

.tabSwitchBtn.active {
  border-bottom: 2px solid rgb(12, 100, 232);
  color: black;
}

.tabWrapper {
  display: flex;
  flex-direction: column;
  margin-top: var(--vertical-gap);
}