:root {
	color: #000;
	background-color: #f0f0f0;
	font-size: medium;
	zoom: 150%;
	--web-font-family: monospace;
	--border-radius: 2px;
	--text-area-radius: 3px;
	--vertical-gap: 10px;
	--green: rgb(17, 174, 0);
	--blue: rgb(49, 73, 212);
	--orange: rgb(255, 138, 21);
	--red: rgb(255, 67, 67);
	--purple: rgb(164, 17, 255);
	--brown: rgb(147, 93, 5);
}

button {
	border: 1px solid gray;
	outline: 0;
	color: white;
	background: rgb(12, 100, 232);
	font-family: var(--web-font-family);
	margin: 0;
	font-size: 15px;
	border-radius: var(--border-radius);
	justify-content: center;
	align-items: center;
	min-height: 28px;
	padding-bottom: 2px;
}

nav {
	display: flex;
	margin-bottom: 20px;
}