:root {
	color: #000;
	background-color: #f0f0f0;
	font-size: medium;
	zoom: 150%;
	--web-font-family: monospace;
	--border-radius: 2px;
	--text-area-radius: 3px;
	--vertical-gap: 10px;
	--green: rgb(17, 174, 0);
	--blue: rgb(49, 73, 212);
	--orange: rgb(255, 138, 21);
	--red: rgb(255, 67, 67);
	--purple: rgb(164, 17, 255);
	--brown: rgb(147, 93, 5);
}

.opt-green {
	color: var(--green);
}

.opt-blue {
	color: var(--blue);
}

.opt-orange {
	color: var(--orange);
}

.opt-red {
	color: var(--red);
}

.opt-purple {
	color: var(--purple);
}

.opt-brown {
	color: var(--brown);
}

.request-form {
	display: flex;
	margin-top: var(--vertical-gap);
}

.request-method {
	min-width: 90px;
}

.request-url {
	flex-grow: 1;
}

button {
	border: 1px solid gray;
	outline: 0;
	color: white;
	background: rgb(12, 100, 232);
	font-family: var(--web-font-family);
	margin: 0;
	font-size: 15px;
	border-radius: var(--border-radius);
	justify-content: center;
	align-items: center;
	min-height: 28px;
	padding-bottom: 2px;
}

.tab-button {
	border: none;
	background-color: transparent;
	padding: 0.5rem;
	cursor: pointer;
	outline: none;
	color: rgb(105, 105, 105);
}

.tab-button.active {
	border-bottom: 2px solid rgb(12, 100, 232);
	color: black;
}

.button-new-input-row {
	background-color: transparent;
	width: 30px;
	color: black;
	border: 1px solid gray;
	margin-top: var(--vertical-gap);
}

.tab-wrapper {
	display: flex;
	flex-direction: column;
	margin-top: var(--vertical-gap);
}

.form-row {
	display: flex;
	flex-direction: row;
	margin-top: var(--vertical-gap);
	height: 35px;
	width: 100%;
}

.form-row-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
	margin-left: 5px;
	flex: 1;
}

nav {
	display: flex;
	margin-bottom: 20px;
}

.request-result {
	color: #000;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 5px;
	font-family: monospace;
	white-space: pre-wrap;
}